:root {
  /* colors */
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 26%);
  --accent-primary: hsl(266, 100%, 90%);
  --accent-secondary: hsl(200, 85%, 80%);
  /* Modular scale calculator */
  --scale-base: 1rem;
  --perfect-fourth: 1.333;
  --scale-ratio: var(--perfect-fourth);
  /* - Negative values */
  --scale-m1: calc(var(--scale-base) / var(--scale-ratio));
  --scale-m2: calc(var(--scale-m1) / var(--scale-ratio));
  --scale-m3: calc(var(--scale-m2) / var(--scale-ratio));
  --scale-m4: calc(var(--scale-m3) / var(--scale-ratio));
  --scale-m5: calc(var(--scale-m4) / var(--scale-ratio));
  --scale-m6: calc(var(--scale-m5) / var(--scale-ratio));
  /* + Positive values */
  --scale-p1: calc(var(--scale-base) * var(--scale-ratio));
  --scale-p2: calc(var(--scale-p1) * var(--scale-ratio));
  --scale-p3: calc(var(--scale-p2) * var(--scale-ratio));
  --scale-p4: calc(var(--scale-p3) * var(--scale-ratio));
  --scale-p5: calc(var(--scale-p4) * var(--scale-ratio));
  --scale-p6: calc(var(--scale-p5) * var(--scale-ratio));
  --scale-p7: calc(var(--scale-p6) * var(--scale-ratio));
  --scale-p8: calc(var(--scale-p7) * var(--scale-ratio));
  --scale-p9: calc(var(--scale-p8) * var(--scale-ratio));
  --scale-p10: calc(var(--scale-p9) * var(--scale-ratio));
  --scale-p11: calc(var(--scale-p10) * var(--scale-ratio));
  --scale-p12: calc(var(--scale-p11) * var(--scale-ratio));
  --scale-p13: calc(var(--scale-p12) * var(--scale-ratio));
  --scale-p14: calc(var(--scale-p13) * var(--scale-ratio));
  --scale-p15: calc(var(--scale-p14) * var(--scale-ratio));
  --scale-p16: calc(var(--scale-p15) * var(--scale-ratio));
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
      -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */


footer,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */


main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/**
 * Add the correct font style in Android 4.3-.
 */

/**
 * Add the correct background and color in IE 9-.
 */

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

/**
 * Add the correct display in iOS 4-7.
 */

/**
 * Remove the border on images inside links in IE 10-.
 */

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
/* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/**
 * Remove the default vertical scrollbar in IE.
 */

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

/*
 * Add the correct display in all browsers.
 */

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

/**
 * Add the correct display in IE.
 */

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */

html {
  box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */


h1,
h2,
h3,
p {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}


ul {
  margin: 0;
}

/**
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
  outline: none !important;
}

/**
 * Tailwind custom reset styles
 */

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

/**
 * Temporary reset for a change introduced in Chrome 62 but now reverted.
 *
 * We can remove this when the reversion is in a normal Chrome release.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  border-radius: 0;
}

button {
  font-family: inherit;
}

button,
[role=button] {
  cursor: pointer;
}

.list-reset {
  list-style: none;
  padding: 0;
}

.hover\:bg-primary:hover {
  background-color: var(--accent-primary);
}

.border-foreground {
  border-color: var(--foreground);
}

.rounded {
  border-radius: .25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border-2 {
  border-width: 2px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.font-sans {
  font-family: IBM Plex Sans, system-ui, BlinkMacSystem Font, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.leading-tight {
  line-height: 1.25;
}

.leading-normal {
  line-height: 1.5;
}

.m-p2 {
  margin: var(--scale-p2);
}

.my-p5 {
  margin-top: var(--scale-p5);
  margin-bottom: var(--scale-p5);
}

.mx-p5 {
  margin-left: var(--scale-p5);
  margin-right: var(--scale-p5);
}

.my-p3 {
  margin-top: var(--scale-p3);
  margin-bottom: var(--scale-p3);
}

.my-p1 {
  margin-top: var(--scale-p1);
  margin-bottom: var(--scale-p1);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-p5 {
  margin-top: var(--scale-p5);
}

.mb-p3 {
  margin-bottom: var(--scale-p3);
}

.mt-p2 {
  margin-top: var(--scale-p2);
}

.mr-p1 {
  margin-right: var(--scale-p1);
}

.mt-base {
  margin-top: var(--scale-base);
}

.mb-m2 {
  margin-bottom: var(--scale-m2);
}

.mr-m3 {
  margin-right: var(--scale-m3);
}

.max-w-p15 {
  max-width: var(--scale-p15);
}

.max-w-p13 {
  max-width: var(--scale-p13);
}

.max-w-p10 {
  max-width: var(--scale-p10);
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.opacity-100 {
  opacity: 1;
}

.p-p2 {
  padding: var(--scale-p2);
}

.p-p1 {
  padding: var(--scale-p1);
}

.p-base {
  padding: var(--scale-base);
}

.py-p5 {
  padding-top: var(--scale-p5);
  padding-bottom: var(--scale-p5);
}

.px-p2 {
  padding-left: var(--scale-p2);
  padding-right: var(--scale-p2);
}

.py-p1 {
  padding-top: var(--scale-p1);
  padding-bottom: var(--scale-p1);
}

.absolute {
  position: absolute;
}

.stroke-current {
  stroke: currentColor;
}

.text-center {
  text-align: center;
}

.text-foreground {
  color: var(--foreground);
}

.text-sm {
  font-size: var(--scale-m1);
}

.text-base {
  font-size: var(--scale-base);
}

.text-xl {
  font-size: var(--scale-p2);
}

.text-2xl {
  font-size: var(--scale-p3);
}

.no-underline {
  text-decoration: none;
}

.w-p2 {
  width: var(--scale-p2);
}

.w-p1 {
  width: var(--scale-p1);
}

.w-base {
  width: var(--scale-base);
}

.w-5\/6 {
  width: 83.33333%;
}

.w-full {
  width: 100%;
}

.z-0 {
  z-index: 0;
}

html {
  background: var(--background);
  color: var(--foreground);
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration-color: var(--accent-primary);
  text-decoration-skip-ink: auto;
}

.box-grid {
  /* scale unit p2, plus the border width of the boxes */
  margin-left: calc(-1.777rem + 2px);
}

@media (min-width: 768px) {

  .md\:inline-block {
    display: inline-block;
  }

  .md\:hidden {
    display: none;
  }

  .md\:flex {
    display: flex;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:h-p13 {
    height: var(--scale-p13);
  }

  .md\:mr-p1 {
    margin-right: var(--scale-p1);
  }

  .md\:mr-base {
    margin-right: var(--scale-base);
  }

  .md\:max-w-80 {
    max-width: 80%;
  }

  .md\:max-w-p13 {
    max-width: var(--scale-p13);
  }

  .md\:text-lg {
    font-size: var(--scale-p1);
  }

  .md\:text-2xl {
    font-size: var(--scale-p3);
  }

  .md\:w-p3 {
    width: var(--scale-p3);
  }

  .md\:w-auto {
    width: auto;
  }
}
