html {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
}

main {
  max-width: 60rem;
}

p {
  color: #222;
  margin: 1.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
}

/* improved focus styles - normalized across browsers */
p a:focus {
  outline: none;
  background-color: #cef;
}

/* skip link */
[href="#main"] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}

[href="#main"]:focus {
  right: auto;
}

/*When the main is large, the font size grows and the measure is based on rems so it stays appropriate*/
@media (min-width: 120rem) {
  html {
    font-size: 150%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 90%;
  }
}
/*Print only the main section */
@media print {
  body > *:not(main) {
    display: none;
  }
}

/* flow system */
main * + * {
  margin-top: 1.5rem;
}

li,
dt,
dd,
br,
th,
td {
  margin-top: 0;
}

* + h2,
* + h3 {
  /* em, not rem - so it's relative to it's own font size */
  margin-top: 1.5em;
}

main * + *:not(p) {
  margin: 3rem 0;
}

.container {
  padding: 1.5rem;
}

.container p {
  margin-top: 1.5rem;
}

/* UTILITY CLASSES */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* nav */
.banner {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav li {
  padding-left: 18px;
}

a .current-page {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: underline;
}
