@import "fonts.css";

:root {
  /* colors */
  --background: hsl(40, 82%, 90%);
  --foreground: hsl(223, 73%, 40%);
  --lightness-80: hsl(0, 0%, 80%);
  --lightness-60: hsl(0, 0%, 60%);
  --lightness-40: hsl(0, 0%, 40%);
  --lightness-20: hsl(0, 0%, 20%);
  --foreground-faded: var(--lightness-80);
  --accent-primary: hsl(294, 76%, 66%);
  --accent-secondary: hsl(200, 85%, 80%);

  /* Modular scale calculator */
  --scale-base: 1rem;
  --perfect-fourth: 1.333;
  --scale-ratio: var(--perfect-fourth);

  /* - Negative values */
  --scale-m1: calc(var(--scale-base) / var(--scale-ratio));
  --scale-m2: calc(var(--scale-m1) / var(--scale-ratio));
  --scale-m3: calc(var(--scale-m2) / var(--scale-ratio));
  --scale-m4: calc(var(--scale-m3) / var(--scale-ratio));
  --scale-m5: calc(var(--scale-m4) / var(--scale-ratio));
  --scale-m6: calc(var(--scale-m5) / var(--scale-ratio));

  /* + Positive values */
  --scale-p1: calc(var(--scale-base) * var(--scale-ratio));
  --scale-p2: calc(var(--scale-p1) * var(--scale-ratio));
  --scale-p3: calc(var(--scale-p2) * var(--scale-ratio));
  --scale-p4: calc(var(--scale-p3) * var(--scale-ratio));
  --scale-p5: calc(var(--scale-p4) * var(--scale-ratio));
  --scale-p6: calc(var(--scale-p5) * var(--scale-ratio));
  --scale-p7: calc(var(--scale-p6) * var(--scale-ratio));
  --scale-p8: calc(var(--scale-p7) * var(--scale-ratio));
  --scale-p9: calc(var(--scale-p8) * var(--scale-ratio));
  --scale-p10: calc(var(--scale-p9) * var(--scale-ratio));
  --scale-p11: calc(var(--scale-p10) * var(--scale-ratio));
  --scale-p12: calc(var(--scale-p11) * var(--scale-ratio));
  --scale-p13: calc(var(--scale-p12) * var(--scale-ratio));
  --scale-p14: calc(var(--scale-p13) * var(--scale-ratio));
  --scale-p15: calc(var(--scale-p14) * var(--scale-ratio));
  --scale-p16: calc(var(--scale-p15) * var(--scale-ratio));
}

@tailwind preflight;

@tailwind components;

@tailwind utilities;

html {
  background: var(--background);
  margin: 2em;
  color: var(--foreground);
  font-size: 18px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: "Phantom Sans", sans-serif;
  font-variation-settings: "wght" 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variation-settings: "wght" 400;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 1px solid var(--accent-primary);
  box-shadow: inset 0 -2px 0px 0px var(--accent-primary);
  font-variation-settings: inherit;
}

a:hover {
  color: var(--accent-primary);
}

hr {
  width: 15%;
  border: 0;
  border-top: 3px solid var(--accent-secondary);
}

.nav-link {
  color: inherit;
  text-decoration: none;
  transition: none;
  border-bottom: none;
  box-shadow: none;
}
